h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

strong{
    text-shadow: 5px 5px 5px gray;
}

/* .<name> = class*/
.writer{
    font-size: 5;
    font-style: italic;
    color: 00337C;
}

.content{
    font-size: 10;
    font-family: 'Times New Roman', Times, serif;
}